.section.ui

				.blog-post__date   16 марта 2017

				h1.blog-post__tittle Национальный парк Йосемити

				img(src="../img/blog/post-img.jpg").blog-post__img

				.blog-post__content

					p Lorem ipsum dolor sit amet, consectetur  adipisicing elit. Reiciendis labore repellat pariatur velit. Ab non, veniam voluptatem dolores incidunt, perspiciatis blanditiis itaque reiciendis perferendis iusto odit nihil corrupti adipisci eligendi commodi eos fugiat. Pariatur dolor recusandae odio, quisquam? Accusantium, necessitatibus, sint. Tempora inventore voluptatibus repudiandae unde eligendi consequatur cum odit.

					p Lorem ipsum dolor sit amet, consectetur  adipisicing elit. Incidunt sunt aperiam, quaerat consectetur, veritatis animi. Eius, tempora, commodi. Ratione ipsam, at vel impedit soluta quos a amet. Necessitatibus consequatur consequuntur doloribus repudiandae deserunt dicta voluptas, veniam quas tenetur sequi quia, tempore architecto et dolorem odit quibusdam quis enim qui? Illo.

					.post-nav
							+button('Предыдущий пост', '#!')
							+buttonPrimary('Опубликовать', '#!')
											
